<!--DOCTYPE html-->
<html ng-app="taskd">
	<head>
		<title>TaskD - Make some $$$, spend some $$$</title>
        <link rel="stylesheet" href="stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
		<script src="javascripts/App.js"></script>
	</head>
	<body>
		<div class = "topNav">
		<ul class="nav">
			<li><a href="#/jobs">Jobs</a></li>
			<li><a href="#/profile">Profile</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		</div>
        <h1>Here are the current jobs:</h1>
        <div class="wrap">

                <div class="mainCard">

<!--

					<li>Photo<li>
					<td>Title</td>
					<td>Description</td>
					<td>Time</td>
					<td>Price</td>-->

				<ul class="list-group-item" ng-repeat="current in jobs">                <div class="jobCard">

                    <li>{{ current.owner }} </li>
					<li>{{ current.title }}</li>
					<li>{{ current.description }}</li>
					<li>{{ current.time }} </li>
					<li>{{ current.price }} </li>
                                    </div>

				</ul>

	</div>
		<h3>My Jobs</h3>
                            <div class="mainCard">


        <ul class="list-group-item" ng-repeat="current in myJobs">                <div class="jobCard">
					<li>{{ current.title }}</li>
					<li>{{ current.description }}</li>
					<li>{{ current.time }} </li>
					<li>{{ current.price }} </li>
                                    </div>

				</ul>
                                </div>
		<h3>Create Job</h3>

        <div class="mainCard">
		<div id="create">
			<form action='/job_create' method="post">
				<div>
					<label>Title:</label>
					<input type="text" name="title"/><br/>
				</div>
				<div>
					<label>Description:</label>
					<input type="text" name="description"/><br/>
				</div>
				<div>
					<label>Time:</label>
					<input type="text" name="time"/><br/>
				</div>
				<div>
					<label>Type:</label>
					<input type="text" name="type"/><br/>
				</div>
				<div>
					<label>Price:</label>
					<input type="text" name="price"/><br/>
				</div>
				<div>
					<label>Owner:</label>
					<input type="text" name="owner"/><br/>
				</div>
				<div>
					<input type="submit" value="Submit"/>
				</div>
			</form>
		</div>
        </div>
        </div>
		</br>
		<h3>Delete Job</h3>
			<form action='/job_delete' method="post">
			<div>
				<label>Title:</label>
				<input type="text" name="title"/></br>
			</div>
			<div>
				<input type="submit" value="Submit">
    </div>
			</div>
		</form>
    </div>
    </body>
</html>
